*{
    margin: 0 auto;
    padding: 0;
}
.backimg{
    background-image: url(/HBAF/theme/theme_wide_16/myimg/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:70px;
}
.logoimg{
    position: absolute;
    top: 80px;
}
.navbar-left{
    /* margin-left: 160px; */
}
.mainbanner{
    margin-top:30px;
    width: 100%;
    /* height: 100vh; */
}
.navbar-brand{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 10%;
}
.ml{
    margin:0 auto;
}

.slide3{
    background-image: url('/HBAF/theme/theme_wide_16/myimg/1920x860_v2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 1px) and (max-width: 1089px) {
    .logoimg{
        display: none;
    }
    .backimg{
        padding-bottom: 0;
    }
    .mainbanner{
        margin-top:10px;
    }
}
#mainSlider{
    /* margin-top: 200px; */
}
.sw_img{
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 0 !important;
    height: 0;
    padding-bottom: 45%;
    margin-bottom: 0 !important;
    border-radius: 4px;
    margin-left: 0!important;
    background-size: contain;
}
.swiper-pagination-bullets{
    bottom:50px !important;
}
.swiper-button-next{
    background-image: url(/HBAF/skin/latest/swiper_card2/img/rightbn.png) !important;
    background-size: 15px !important;
}
.swiper-button-prev{
    background-image: url(/HBAF/skin/latest/swiper_card2/img/leftbn.png) !important;
    background-size: 15px !important;
}
.youtube{
    background-image: url(/HBAF/theme/theme_wide_16/myimg/youtube.png)
}
.instar{
    background-image: url(/HBAF/theme/theme_wide_16/myimg/instar.png)
}