*{
    margin: 0 auto;
    padding: 0;
    /* font-family: 'Nanum Gothic', sans-serif !important; */
    font-weight: bold;
    color: black !important;
}
.backimg{
    background-image: url(/HBAF/theme/theme_wide_16/myimg/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:70px;
}
.logoimg{
    position: absolute;
    top: 80px;
}
.navbar-left{
    /* margin-left: 160px; */
}
.mainbanner{
    margin-top:30px;
    width: 100%;
    /* height: 100vh; */
}
.navbar-brand{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 10%;
}
.ml{
    margin:0 auto;
}

/* .slide3{
    background-image: url('/HBAF/theme/theme_wide_16/myimg/1920x860_v2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
@media (min-width: 1px) and (max-width: 1089px) {
    .logoimg{
        display: none;
    }
    .backimg{
        padding-bottom: 0;
    }
    .mainbanner{
        margin-top:10px;
    }
    .almond{
        display:none;
    }
    .almond1{
        display: none;
    }
    .hbaf_sns h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 1rem;
    }
    .youtube-window{
        display: none;
    }
}


@media (min-width: 1090px) {
    .almond{
        position: absolute;
        top: 0;
        left: 0;
    }
    .almond1{
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate( 100deg );
    }
    .hbaf_sns h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 4rem;
    }
}





.promotino_wrapper{
    position: relative;
    overflow: hidden;
}
.sw_img{
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 0px !important;
    height: 0;
    padding-bottom: 45%;
    margin-bottom: 0 !important;
    border-radius: 4px;
    margin-left: 0!important;
    background-size: contain;
}
.swiper-pagination-bullets{
    bottom:50px !important;
}
.swiper-button-next{
    background-image: url(/HBAF/skin/latest/swiper_card2/img/rightbn.png) !important;
    background-size: 15px !important;
}
.swiper-button-prev{
    background-image: url(/HBAF/skin/latest/swiper_card2/img/leftbn.png) !important;
    background-size: 15px !important;
}
.youtube{
    background-image: url(/HBAF/theme/theme_wide_16/myimg/youtube.png)
}
.instar{
    background-image: url(/HBAF/theme/theme_wide_16/myimg/instar.png)
}
.promotion{
    /* border: solid 1px white; */
    background-color: rgb(237, 222, 12);
    border-radius: 100%;
    width: 280px;
    height: 280px;
    position: relative;
}
.promotion1{
 background-color: #e8a623;
}
.promotion2{
    background-color: #b86724;
}
.promotion3{
    background-color: #b764aa;
}
.promotion4{
   background-color: #99c0dc;
}
.promotion5{
    background-color: #397364;
}

.youtube_font{
    font-weight: bold;
    font-size: 8vw;
}
.youtube-window {
    position: relative;
    background: #fed819;
}
.d-none{
    display: none;
}
.hbaf_sns{
    width: 100%;
    height: 15vw;
    background-color: #dcf8be;
    position: relative;
}
.circle_left{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.circle_right{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
